---
title: Repo
layout: cloud
menu: repos
---



<div class="title title-fix">
	<div class="title-header">
		<ol class="breadcrumb breadcrumb-flush h1">
			<li><a href="{{site.baseurl}}/repos"><svg class="glyph"><use xlink:href="#glyph-chevron-left"></use></svg>Repositories</a></li>
			<li class="active">Add Repo</li>
		</ol>
	</div>
</div>


<div class="flex-row flex-buffer">
	<div class="card flex-item flex-buffer flex-column">
		<div class="card-header compact">
			<h3>Github Accounts</h3>
			<p>You have connected Github to the following accounts. Please select the account that contains your dbt project.</p>
		</div>
		<div class="card-list flex-grow">
			<div class="list">
				{% assign items = 'Nestio;https://avatars1.githubusercontent.com/u/691019?s=200&v=4|drewbanin;https://avatars0.githubusercontent.com/u/1541139?s=460&v=4|CasperSleep;https://avatars0.githubusercontent.com/u/5932962?s=200&v=4|nearmap;https://avatars3.githubusercontent.com/u/6844767?s=200&v=4|CamelotVG;https://avatars3.githubusercontent.com/u/8368145?s=200&v=4|urbanstems;https://avatars3.githubusercontent.com/u/9728604?s=200&v=4|topsteam;https://avatars0.githubusercontent.com/u/13662194?s=200&v=4|fishtown-analytics;https://avatars3.githubusercontent.com/u/18339788?s=200&v=4|simba-sleep;https://avatars2.githubusercontent.com/u/26788389?s=200&v=4' | split: '|'%}
				{% for item in items %}
					{% assign name = item | split: ';' | first %}
					{% assign img = item | split: ';' | last %}
					<div class="list-item {% if name == 'drewbanin' %}active{% endif %}">
						<a href="#" class="list-link"></a>
						<div class="list-row list-row-sm">
							<div class="list-row-group"><h6><span class="avatar avatar-sm avatar-square margin-right"><img src="{{img}}"/></span> {{name}}</h6></div>
							<div class="list-row-arrow"><svg class="glyph glyph-sm"><use xlink:href="#glyph-chevron-right"></use></svg></div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-default btn-sm">Manage Github</a>
		</div>
	</div>
	<div class="card flex-item flex-buffer flex-column">
		<div class="card-header compact">
			<h3>Repositories</h3>
			<p>Choose the git repository below that you'd like to import.</p>
			<input type="text" class="form-control input-pill input-sm margin-small-top" placeholder="filter repositories...">
		</div>
		<div class="card-list flex-grow">
			<div class="list">
				{% assign items = 'bq,testing,production,sample' | split: ','%}
				{% for item in items %}
					<div class="list-item">
						<a href="#" class="list-link"></a>
						<div class="list-row list-row-sm">
							<div class="list-row-group"><h6>{{item}}</h6><p>git@github.com:drewbanin/{{item}}.git</p></div>
							<div class="list-row-arrow"><svg class="glyph glyph-sm"><use xlink:href="#glyph-chevron-right"></use></svg></div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>