---
title: Connection Setup
layout: cloud
setup: true
---

<div class="setup">

	<div class="title title-fix">
		<div class="title-header">
			<ol class="breadcrumb breadcrumb-flush h1">
				<li><a href="{{site.baseurl}}/setup"><svg class="glyph"><use xlink:href="#glyph-chevron-left"></use></svg>Setup</a></li>
				<li class="active">Database Connection</li>
			</ol>
		</div>
		<div class="title-actions">
			<div class="controls">
				<div class="control"><a href="{{site.baseurl}}/setup-repo" class="btn btn-primary arrow-right pill">Test & Continue</a></div>
			</div>
		</div>
	</div>

	<p class="text-light">
        Let's get connected! First select your data warehouse, then enter the credentials that you use for development.
        Later, you'll be able to supply your Deployment credentials separately for scheduled jobs that run in production.<br />
        <b>Note:</b> These credentials are encrypted at rest, and dbt Cloud never stores credentials in plaintext.
    </p>

	{% include partial-connection.html editing=1 simple=1 %}

	{% include partial-indicators.html steps=5 active=1 href="/setup-repo" %}

</div>
