---
title: Repo Setup
layout: cloud
setup: true
---

<div class="setup">

	<div class="title title-fix">
		<div class="title-header">
			<ol class="breadcrumb breadcrumb-flush h1">
				<li><a href="{{site.baseurl}}/setup-connection"><svg class="glyph"><use xlink:href="#glyph-chevron-left"></use></svg>Setup</a></li>
				<li class="active">Add Repository</li>
			</ol>
		</div>
		<div class="title-actions">
			<div class="controls">
				<div class="control"><a href="{{site.baseurl}}/setup-environment" id="continue" class="btn btn-primary arrow-right pill" disabled>Continue</a></div>
			</div>
		</div>
	</div>

	<p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</p>


	<h4>Add repository from:</h4>
	<div class="controls margin-bottom">
		<div class="control"><a class="btn btn-white" data-github><i data-icon="github"></i> Github</a></div>
		<div class="control"><a class="btn btn-white"><i data-icon="bitbucket"></i> Bitbucket</a></div>
		<div class="control"><a class="btn btn-white" data-url><i data-icon="globe"></i> Git URL</a></div>
	</div>

	{% include partial-repo.html hide=1 %}

	<div class="card" id="url" style="display: none">
		<div class="card-header">
			<h3>Add a Repo via URL</h3>
			<ul class="text-small text-light">
				<li><strong class="text-dark">Private Repos (SSH):</strong> Use the SSH version of your Git URL (beginning with <code>git@</code> or <code>ssh</code>).</li>
				<li><strong class="text-dark">Pull Requests:</strong> Projects imported directly from a Git URL do not support builds on Pull Requests or other webhook based builds. If you'd like to use these features, choose another import option above.</li>
			</ul>
			<div class="setting-row margin-top">
				<div class="setting-row-response">
					<input type="text" class="form-control" placeholder="Git URL...">
				</div>
				<div class="setting-row-edit">
					<a href="#" class="btn btn-primary">Import</a>
				</div>
			</div>
		</div>
	</div>


	{% include partial-indicators.html steps=5 active=2 href="/setup-environment" %}

</div>

<script>window.addEventListener('load',function(){ 
	$(document).on('click','[data-github]',function(){
			var new_window = window.open('/github-demo','github','height=640,width=960,left=100,top=100')
			new_window.onbeforeunload = function(){
				$('#repos').show();
				$('#url').hide();
				$('#continue').removeAttr('disabled');
			}
		 return false;
	});
	$(document).on('click','[data-url]',function(){
		$('#repos').hide();
		$('#url').show();
	});
});</script>
