$arrows: (
	"up":"a",
	"right":"b",
	"down":"c",
	"left":"d",
	"close":"e",
	"check":"f",
);

@mixin arrow-pseudo(){
	&:not(.arrow-before):after,
	&.arrow-before:before {
		@content;
	}
}

@mixin arrow-styles(){
	font-family: "arrows";
	text-transform: none;
	font-style: normal;
	font-weight: normal;
	line-height: .5;
}

@mixin arrow($type,$position:after,$large:false){
	&:#{$position} {
		@include arrow-styles;
		@each $var, $glyph in $arrows {
			@if $var == $type {
				content: " #{$glyph} ";
			}
		}
		@if $large {
			text-transform: uppercase;
		}
	}
}

@include font-face-woff("arrows","../fonts/arrows/arrows.woff");

[class*="arrow-"] {
	@include arrow-pseudo {
		@include arrow-styles;
	}
}

.arrow-large {
	@include arrow-pseudo { text-transform: uppercase; }
}

@each $var, $glyph in $arrows {
	.arrow-#{$var} {
		@include arrow-pseudo { content: " #{$glyph} "; }
	}
}
