$ent: ( "note":'\e800',"logo-db":'\e8de',"music":'\e802',"search":'\e803',"flashlight":'\e804',"mail":'\e805',"heart":'\e80d',"heart-empty":'\e80f',"star":'\e810',"star-empty":'\e813',"user":'\e814',"users":'\e817',"user-add":'\e819',"video":'\e81a',"picture":'\e81d',"camera":'\1F4F7',"layout":'\e821',"menu":'\e823',"check":'\e824',"close":'\e826',"cancel":'\e826',"cancel-circled":'\e806',"cancel-squared":'\e808',"plus":'\002B',"plus-circled":'\e809',"plus-squared":'\e80a',"minus":'\2212',"minus-circled":'\e80e',"minus-squared":'\e80c',"help":'\e811',"help-circled":'\e812',"info":'\e815',"info-circled":'\e816',"back":'\e818',"home":'\e81b',"link":'\e81c',"attach":'\e81f',"lock":'\1F512',"lock-open":'\e822',"eye":'\e825',"tag":'\e827',"bookmark":'\1F516',"bookmarks":'\e837',"flag":'\e838',"thumbs-up":'\e840',"thumbs-down":'\e849',"download":'\e85d',"upload":'\e851',"upload-cloud":'\e86b',"reply":'\e86c',"reply-all":'\e87b',"forward":'\e87c',"quote":'\e889',"code":'\e88a',"export":'\e899',"pencil":'\270F',"feather":'\e8a5',"print":'\e8a8',"retweet":'\e8a9',"keyboard":'\2328',"comment":'\e8ab',"chat":'\e829',"bell":'\1F514',"attention":'\e839',"alert":'\e841',"vcard":'\e853',"address":'\e85c',"location":'\e852',"map":'\e84a',"direction":'\e86d',"compass":'\e87a',"cup":'\e850',"trash":'\e888',"doc":'\e88b',"docs":'\e898',"doc-landscape":'\e89b',"doc-text":'\e8a6',"doc-text-inv":'\e8a7',"newspaper":'\1F4F0',"book-open":'\e8ad',"book":'\e8ac',"folder":'\e82a',"archive":'\e835',"box":'\e83a',"rss":'\e842',"phone":'\e854',"cog":'\e85e',"tools":'\e860',"share":'\e84b',"shareable":'\e86e',"basket":'\e879',"bag":'\e87e',"calendar":'\1F4C5',"login":'\e88c',"logout":'\e897',"mic":'\e84d',"mute":'\e84e',"sound":'\e8ae',"volume":'\e8b4',"clock":'\e8af',"hourglass":'\231B',"lamp":'\e82b',"light-down":'\e834',"light-up":'\e83b',"adjust":'\e843',"block":'\2588',"resize-full":'\e85f',"resize-small":'\e861',"popup":'\e86a',"publish":'\e86f',"window":'\e878',"arrow-combo":'\e87d',"down-circled":'\e887',"left-circled":'\e88d',"right-circled":'\e896',"up-circled":'\e89c',"down-open":'\e84c',"left-open":'\e8b2',"right-open":'\e8b3',"up-open":'\e8b5',"down-open-mini":'\e8b6',"left-open-mini":'\e833',"right-open-mini":'\e832',"up-open-mini":'\e83c',"down-open-big":'\e844',"left-open-big":'\e855',"right-open-big":'\e85b',"up-open-big":'\e862',"down":'\e869',"left":'\e870',"right":'\e877',"up":'\e87f',"down-dir":'\e886',"left-dir":'\e88e',"right-dir":'\e895',"up-dir":'\e89d',"down-bold":'\e8a4',"left-bold":'\e8ba',"right-bold":'\e8b9',"up-bold":'\e8b8',"down-thin":'\e8b7',"left-thin":'\e82c',"note-beamed":'\e801',"up-thin":'\e83d',"cw":'\e856',"arrows-ccw":'\e85a',"level-down":'\e863',"level-up":'\e868',"shuffle":'\e871',"loop":'\e876',"switch":'\e880',"play":'\e885',"stop":'\e88f',"pause":'\e894',"record":'\e89e',"to-end":'\e8a3',"to-start":'\e8bb',"fast-forward":'\e8bc',"fast-backward":'\e8bd',"progress-0":'\e8be',"progress-1":'\e82d',"progress-2":'\e830',"progress-3":'\e83e',"target":'\e857',"palette":'\e847',"list":'\e859',"list-add":'\e864',"signal":'\e867',"trophy":'\1F3C6',"battery":'\1F50B',"back-in-time":'\e881',"monitor":'\e884',"mobile":'\e890',"network":'\e893',"cd":'\e89f',"inbox":'\e8a2',"install":'\e8c2',"globe":'\e8c1',"cloud":'\2601',"cloud-thunder":'\e8bf',"flash":'\e82e',"moon":'\e82f',"flight":'\e83f',"paper-plane":'\e845',"leaf":'\e846',"lifebuoy":'\e858',"mouse":'\1F401',"briefcase":'\1F4BC',"suitcase":'\e873',"dot":'\e874',"dot-2":'\e882',"dot-3":'\e883',"brush":'\e891',"magnet":'\e892',"infinity":'\221E',"erase":'\e8a1',"chart-pie":'\e8c3',"chart-line":'\e8c4',"chart-bar":'\e8c5',"chart-area":'\e8c6',"tape":'\e8c7',"graduation-cap":'\e8d2',"language":'\e8d4',"ticket":'\1F3AB',"water":'\e8da',"droplet":'\1F4A7',"air":'\e8e3',"credit-card":'\e8ea',"floppy":'\e8eb',"clipboard":'\1F4CB',"megaphone":'\e8f3',"database":'\e8fa',"drive":'\e8fc',"bucket":'\e902',"thermometer":'\e903',"key":'\1F511',"flow-cascade":'\e90b',"flow-branch":'\e912',"flow-tree":'\e913',"flow-line":'\e91a',"flow-parallel":'\e8c8',"rocket":'\1F680',"gauge":'\e8d3',"traffic-cone":'\e8d8',"cc":'\e8db',"cc-by":'\e8e1',"cc-nc":'\e8e4',"cc-nc-eu":'\e8e9',"cc-nc-jp":'\e8ec',"cc-sa":'\e8f1',"cc-nd":'\e8f4',"cc-pd":'\e8f9',"cc-zero":'\e8fb',"cc-share":'\e901',"cc-remix":'\e904',"github":'\e909',"github-circled":'\e90c',"flickr":'\e911',"flickr-circled":'\e914',"vimeo":'\e919',"vimeo-circled":'\e8c9',"twitter":'\e8d0',"twitter-circled":'\e8d6',"facebook":'\e8d7',"facebook-circled":'\e8dc',"facebook-squared":'\e8e0',"gplus":'\e8e5',"gplus-circled":'\e8e8',"pinterest":'\e8ed',"pinterest-circled":'\e8f0',"tumblr":'\e8f5',"tumblr-circled":'\e8f8',"linkedin":'\e8fd',"linkedin-circled":'\e900',"dribbble":'\e905',"dribbble-circled":'\e908',"stumbleupon":'\e90d',"stumbleupon-circled":'\e910',"lastfm":'\e915',"lastfm-circled":'\e918',"rdio":'\e8ca',"rdio-circled":'\e8d5',"spotify":'\e8cf',"spotify-circled":'\e8ce',"qq":'\e8dd',"instagram":'\e8df',"dropbox":'\e8e6',"evernote":'\e8e7',"flattr":'\e8ee',"skype":'\e8ef',"skype-circled":'\e8f6',"renren":'\e8f7',"sina-weibo":'\e8fe',"paypal":'\e8ff',"picasa":'\e906',"soundcloud":'\e907',"mixi":'\e90e',"behance":'\e90f',"google-circles":'\e916',"vkontakte":'\e917',"smashing":'\e8cb',"sweden":'\e8cc',"db-shape":'\e8cd',"bitbucket":'\20AC' );

@mixin entypo($icon,$code,$transform:false) {
	[data-icon="#{$icon}"]:before {
		content: $code;
		@if $transform {
			@include transform($transform);
		}
	}
}

//
// Classes
// --------------------------------------------------

@include font-face-woff("entypo","../fonts/entypo/entypo.woff");
[data-icon] {
	width: 24px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	&:before {
		display: block;
		position: relative;
		margin-top: -1px;
		top: -5px;
		speak: none;
		
		font-family: "entypo";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		font-size: 18px;
		line-height: 1;
		
		text-align: center;
		text-transform: none;
		text-decoration: inherit;
	}
	&.md {
		&:before {
			font-size: 20px;
		}
	}
	&.lg {
		width: 32px;
		&:before {
			font-size: 32px;
			top: -11px;
		}
	}
}

@each $var, $glyph in $ent {
	@include entypo($var,$glyph);
}
