//
// Colors
// --------------------------------------------------
$red:                                            #e21b10;
$orange:                                         #ff5722;
$yellow:                                         #ffcc00; // v1
$green:                                          #3a8717;
$blue:                                           #00bbbb; // v1
$purple:                                         #7f6cc5; // v1
$navy:                                           #005e7a; // v1
$gray:                                           #8b969e; // v1 & v2
$silver:                                         #f0f2f4; // v1
$outline:                                        rgba(0,30,60,.03);