//
// Colors
// --------------------------------------------------
$red:                                            #ff694b;
$orange:                                         $red;
$yellow:                                         #ffcc00;
$green:                                          #7ec631;
$blue:                                           #00bbbb;
$purple:                                         #7f6cc5;
$navy:                                           #005e7a;
$gray:                                           #8b969e;
$silver:                                         #f0f2f4;
$outline:                                        rgba(0,30,60,.03);