//
// Colors
// --------------------------------------------------
$red:                                            #e21b10;
$orange:                                         #ff5722;
$yellow:                                         #ffcc00; // v1
$green:                                          rgba(0, 204, 204, 0.25);
$blue:                                           #00bbbb;
$light-blue:                                     #d4f2f2;
$lighter-blue:                                   #edfafa;
$dark-blue:                                      #009595;
$dark-aqua:                                      #007b7b;
$purple:                                         #7f6cc5; // v1
$navy:                                           #005e7a; // v1
$gray:                                           #444444;
$dark-gray:                                      #1e1e1e;
$light-gray:                                     #3e3e3e;
$lighter-gray:                                   #8b969e;
$lightest-gray:                                  #f9fafb;
$dark-green:                                     #164949;
$light-green:                                    #5fb825;
$silver:                                         #f0f2f4; // v1
$off-black:                                      #313539;
$outline:                                        rgba(0,30,60,.03);