<nav class="navigation navigation-pad">
	<div class="navigation-row">
		<div class="navigation-item">
			<a href="#" class="navigation-link navigating-hide" data-sidenav-show><svg class="glyph"><use xlink:href="#glyph-menu"></use></svg></a>
			<a href="#" class="navigation-link navigating-show" data-sidenav-hide><svg class="glyph"><use xlink:href="#glyph-x"></use></svg></a>
		</div>
		<div class="navigation-item">
			<div class="logo"><svg class="logo"><use xlink:href="#brand"></use></svg></div>
		</div>
		<div class="navigation-item dropdown">
			<a href="#" class="btn btn-text arrow-down" data-toggle="dropdown">Fishtown Analytics</a>
			<ul class="dropdown-menu"><li><a href="#">Openlane</a></li><li><a href="#">Yearin</a></li><li><a href="#">Goodsilron</a></li><li><a href="#">Condax</a></li><li><a href="#">Opentech</a></li><li><a href="#">Golddex</a></li><li><a href="#">year-job</a></li><li><a href="#">Isdom</a></li><li><a href="#">Gogozoom</a></li><li><a href="#">Y-corporation</a></li></ul>
		</div>
		<div class="navigation-item navigation-grow">
			<input type="text" class="form-control input-pill" placeholder="search for tables, columns..."/>
		</div>
		<div class="navigation-item">
			<div class="controls controls-nowrap">
				<div class="control"><a href="#" class="navigation-link"><svg class="glyph"><use xlink:href="#glyph-message-square"></use></svg></a></div>
				<div class="control"><a href="#" class="navigation-link"><svg class="glyph"><use xlink:href="#glyph-inbox"></use></svg></a></div>
			</div>
		</div>
		<div class="navigation-item dropdown">
			<a href="#" class="avatar" data-toggle="dropdown">
				<img src="https://pbs.twimg.com/profile_images/584098247641300992/N25WgvW_.png"/>
			</a>
			<ul class="dropdown-menu dropdown-menu-right"><li><a href="#">My Account</a></li><li class="divider"></li><li><a href="#">Log out</a></li></ul>
		</div>
	</div>
</nav>