
select:not([multiple]).form-control {
	$form-caret-push: .2rem;
	background-size: .75em .75em;
	background-repeat: no-repeat;
	background-image: url('../img/carets/down.svg');
	background-position: calc( 100% - .875em ) 50%;
	@include set(padding-top padding-bottom,0);
	padding-right: 2.25em;
	&::-ms-value { background: transparent !important; }
}

.btn, .form-control, .option {
	input {
		position: absolute;
		opacity: 0;
	}
}

.option {
	&:not(.input-group-addon) { padding-left: 0 !important; }
	&.input-group-addon { @include set(padding-left padding-right,$padding-small-horizontal); }
	.glyph { margin-right: .375em; }
	margin: 0;
}