// DISPLAY -------------------------------------------------------

.block { display: block !important; }
.inline { display: inline !important; }
.inline-block { display: inline-block !important; }
.invisible { visibility: hidden; }
.hidden { display: none; }
.blocklink { @include blocklink; }

// COVERAGE -------------------------------------------------------

.fill { @include fill; }
.full { @include full; }
.cover { @include cover; }
.crop { overflow: hidden; }
.round { border-radius: $border-radius-base !important; }
.square { border-radius: 0 !important; }

// CHILDREN -------------------------------------------------------

.clear { @include clear; }
.clean { @include clean; }

.trim { @include trim; }
.snug { @include snug; }
.compact { @include compact; }

// HELPERS -------------------------------------------------------

.component { @include component; }
.transitions { @include transitions(.5s); }
.spin { @include spin; }

// SPACING -------------------------------------------------------

.margin, .margin-top { margin-top: 2em; }
.margin, .margin-bottom { margin-bottom: 2em; }

.margin-small, .margin-small-top { margin-top: 1em; }
.margin-small, .margin-small-bottom { margin-bottom: 1em; }

.padding, .padding-top { padding-top: 2em; }
.padding, .padding-bottom { margin-bottom: 2em; }
.padding-small, .padding-small-top { padding-top: 1em; }
.padding-small, .padding-small-bottom { padding-bottom: 1em; }
.padless { padding: 0 !important; }

.flush, .flush-top { margin-top: 0 !important; }
.flush, .flush-bottom { margin-bottom: 0 !important; }

// SHAPES -------------------------------------------------------

.circle { border-radius: 50%; }
.pill { border-radius: 999px; }
