.list {
	color: $light;
	&-item {
		&:not(:first-child) { border-top: 1px solid $line; }
		&:first-child .list-row { @include set(border-top-right-radius border-top-left-radius,$border-radius-base); }
		&:last-child .list-row { @include set(border-bottom-right-radius border-bottom-left-radius,$border-radius-base); }
	}
	&-link {
		@include fill;
		z-index: 2;
		@include active {
			+ .list-row {
				background: $hover-bg;
				//color: $hover-text;
			}
		}
	}
	&-item.active .list-row {
		#{h()}, & { color: $component-active-color; }
		background: $component-active-bg;
	}
	&-row {
		@include flex-row;
		@include flex-align(center);
		@include transitions;
		> * {
			@include compact;
			@include flex(1,1,0);
			padding: 1.5rem 2rem;
			a { z-index: 3; }
		}
		&-group {
			padding-left: 0;
			padding-right: 1rem;
		}
		&-graphic, &-arrow {
			@include flex(0,0,auto);
			> .glyph { opacity: (1/3); }
		}
		&-sm {
			> * { @include set(padding-top padding-bottom,12px); }
		}
		&-xs {
			> * { @include set(padding-top padding-bottom,7px); }
		}
	}
	.card-list & {
		.list-row > * {
			@include set(padding-left paddign-right,$component-padding-horizontal);
		}
	}
}

.list-clean {
    @include clean;
}

.list-columns-2 {
    columns: 2;
}
