//
// Colors
// --------------------------------------------------
$red:                                            #ff694b;
$orange:                                         $red;
$yellow:                                         #ffcc00;
$green:                                          #7ec631;
$blue:                                           #00bbbb;
$light-blue:                                     #d4f2f2;
$lighter-blue:                                   #edfafa;
$dark-blue:                                      #009595;
$dark-aqua:                                      #007b7b;
$purple:                                         #7f6cc5;
$navy:                                           #005e7a;
$gray:                                           #8b969e;
$dark-gray:                                      #1e1e1e;
$light-gray:                                     #5e666c;
$lighter-gray:                                   #8b969e;
$dark-green:                                     #164949;
$silver:                                         #f0f2f4;
$off-black:                                      #313539;
$outline:                                        rgba(0,30,60,.03);