$hue: 0%;

@function luminance($color){
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  @return ( ($red * 0.2126) + ($green * 0.7152) + ($blue * 0.0722) ) / 255;
}



@function dark($color) {        @return blend-softlight(black,darken($color,$hue)); }
@function darker($color) {      @return blend-softlight(black,darken(dark($color),$hue)); }
@function darkest($color) {     @return blend-softlight(black,darken(darker($color),$hue)); }
@function light($color) {       @return blend-softlight(white,lighten($color,$hue)); }
@function lighter($color) {     @return blend-softlight(white,lighten(light($color),$hue)); }
@function lightest($color) {    @return blend-softlight(white,lighten(lighter($color),$hue)); }

@function highlight($color,$lum:.97) {
  $desire: $lum;
  $actual: luminance($color);
  @if $actual > $desire {
    $weight: $desire / $actual;
    $highlight: mix($color,black,percentage($weight));
    @return $highlight;
  } @else {
    $weight: ( $desire - 1 ) / ( $actual - 1 );
    $highlight: mix($color,white,percentage($weight));
    @return $highlight;
  }
}

@function text($color,$lum:.55) {
  $desire: $lum;
  @if luminance($color) > $desire {
    $dark: dark($color);
    @if luminance($dark) > $desire {
      $darker: darker($color);
      @if luminance($darker) > $desire {
        @return darkest($color);
      } @else { @return $darker; }
    } @else { @return $dark; }
  } @else {
    @return $color;
  }
}