$nav-height: 72px;

.layout {
	min-height: 100vh;
	&-pad { @include set(padding-top padding-bottom,20px); }
	&-sticky {
		position: sticky;
		z-index: 20;
		top: 0;
	}
	&-frame {
		margin: auto;
		width: 90%;
		@include set(padding-left padding-right,20px);
		.layout-menu & { padding-right: 0; }
	}
	&-navigation {
		@include shadow;
		background: white;
		height: $nav-height;
		position: fixed;
		@include set(top left right,0);
	}
	&-content {
		position: fixed;
		top: ($nav-height - 1px);
		@include set(bottom left right,0);
		@include scroll;
	}
	&-row {
		@include flex-row;
	}
	&-alert {
		@include flex(0,0,100%);
	}
	&-menu {
		@include flex(0,0,percentage(1/4));
		max-width: 300px;
		min-width: 0;
	}
	&-body {
		@include flex(1,1,auto);
		box-shadow: 0 -1px 0 $outline;
	}
}