.layout {
	min-height: 100vh;
	&-pad { @include set(padding-top padding-bottom,20px); }
	&-sticky {
		position: sticky;
		z-index: 20;
		top: 0;
	}
	&-frame {
		margin: auto;
		width: 90%;
		@include set(padding-left padding-right,20px);
		.layout-menu & { padding-right: 0; }
	}
	&-navigation {
		@include shadow;
		background: white;
	}
	&-content {
		@include flex-row;
	}
	&-menu {
		@include flex(0,0,percentage(1/4));
		max-width: 300px;
		min-width: 0;
	}
	&-body {
		@include flex(1,1,auto);
	}
}