.setup {
	max-width: $phablet;
	margin: auto;
	padding: 20px 0;
	&-lg {
		max-width: $tablet;
	}
	&-step {
		@include flex-row;
		@include flex-align(center);
		padding: 1em 0;
		&-check, &-icon {
			@include flex(0,0,42px);
			padding: 2px;
		}
		&-check { color: $green; }
		&-icon { color: $silver-darkest; }
		&-text {
			@include flex(1,1,auto);
			@include compact;
		}
		&:not(:last-child) {
			border-bottom: 1px solid $line;
		}
		&:first-child { padding-top: 0; }
		&:last-child { padding-bottom: 0; }
		&.setup-step-complete .setup-step-icon { display: none; }
		&:not(.setup-step-complete) .setup-step-check { display: none; }
	}
}