$card-controls: ".btn, .form-control, .input-group-addon, .form-control-static";

@mixin active-shadow($color){
	@include shadow(15px,$color);
}

.card {
	@include component;
	@include flex-column;
	@extend .buffer;
	> .card-header,
	> .card-footer {
		@include flex(0,0);
	}
	> .card-body {
		@include flex(1,0);
	}
        &.active {
            @include active-shadow($blue);
        }
}

.card-footer,
.card-header,
.card-body,
.card-padding {
	padding: $component-padding;
}

.card-expand {
	margin: $component-padding-vertical*-1 $component-padding-horizontal*-1;
}

.card-header {
	#{h()} { margin: 0; }
}

.card-flush-top { padding-top: 0; }
.card-flush-bottom { padding-bottom: 0; }
.card-flush-vertical { padding-top: 0; padding-bottom: 0; }
.card-flush { padding: 0; }

.card-sm { padding: 8px 12px; }

.card-control {
	display: block;
	#{$card-controls} {
		display: block;
		margin: 0 !important;
		height: $input-height-large;
		padding: ( ( $component-height-large - $font-size-base * $component-line-height ) / 2 ) $component-padding-horizontal;
		border-radius: 0;
		width: 100%;
	}
	.form-control {
		background: white;
		&:not(:disabled):not(.disabled):hover {
			background-color: $silver;
		}
	}
	.btn,
	.input-group-addon {
		text-align: center;
	}
	.card-footer & {
		&:first-child { #{$card-controls} { border-bottom-left-radius: $component-border-radius; } }
		&:last-child { #{$card-controls} { border-bottom-right-radius: $component-border-radius; } }
	}
	.card-body & {
		&:first-child { #{$card-controls} { border-top-left-radius: $component-border-radius; } }
		&:last-child { #{$card-controls} { border-top-right-radius: $component-border-radius; } }
	}
}

.card-toolbar {
	@include flex-row;
	@include flex-wrap;
	padding: 0;
	.card-control {
		display: block;
		@include flex(1,0,auto);
	}
}

.card-form {
	padding: 0;
	display: table;
	width: 100%;
	.card-formrow {
		display: table-row;
		.card-control {
			display: table-cell;
			vertical-align: middle;
		}
		&:not(:last-child) {
			.card-control {
				border-bottom: 1px solid $line;
			}
		}
	}
}

.card-list {
	&:not(:first-child) { border-top: 1px solid $line; }
}
