.tools {
	@include flex-row;
	@include flex-align(center);
	margin: -2px;
	.tool {
		@include flex(0,0,auto);
		padding: 2px;
		&-grow {
			@include flex(1,1,auto);
			min-width: 0;
		}
		&-gap {
			width: 20px;
			&-sm { width: 10px; }
		}
	}
}