//
// Components
// --------------------------------------------------
@mixin component(){
	display: block;
	border-width: 0;
	background: white;
	@include shadow();
	border-radius: $component-border-radius;
}

//
// Corners
// --------------------------------------------------
@mixin circle() {
	border-radius: 50%;
}

@mixin round() {
	border-radius: $border-radius-base;
}

@mixin radius($radius:$border-radius-base) {
	border-radius: $radius;
}

@mixin pill($important:'') {
	border-radius: 200px #{$important};
}
