<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		{% include settings/meta.html %}
		{% include settings/scripts.html %}
		{% include settings/styles.html %}
	</head>
	<body>
		{% include content/icons.html %}
		{% include sidenav.html %}
		<div class="launcher" data-launcher="sidebar">
			<div class="launcher-section">
				<div class="launcher-btn">
					<a href="#" onclick="$('.launcher').addClass('on')" class="btn btn-info btn-pill btn-lg btn-icon btn-shadow" data-toggle="tooltip" title="View Lineage Graph"><svg class="icn icn-md"><use xlink:href="#icn-flow"></use></svg></a>
				</div>
				<div class="launcher-content">
					<div class="launcher-window">
						<div class="launcher-header">
							<div class="launcher-cell">
								<h6>Lineage Graph</h6>
							</div>
							<div class="launcher-actions">
								<a href="#" onclick="$('.launcher').attr('data-launcher','fullscreen')" data-large class="launcher-hide-fullscreen btn btn-text btn-lg btn-icon btn-shadow" data-toggle="tooltip" title="View Fullscreen"><svg class="icn icn-md"><use xlink:href="#icn-expand"></use></svg></a>
								<a href="#" onclick="$('.launcher').attr('data-launcher','sidebar')" class="launcher-hide-sidebar btn btn-text btn-lg btn-icon btn-shadow" data-toggle="tooltip" title="View Fullscreen"><svg class="icn icn-md"><use xlink:href="#icn-contract"></use></svg></a>
							</div>
						</div>
						<div class="launcher-body">
							<div class="launcher-embed">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d97893.10826659044!2d-75.1029351667691!3d39.937818816833826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1529270748821" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
						<div class="launcher-footer">
							<div class="launcher-cell launcher-flush">
								<div class="fields fields-flush launcher-hide-sidebar" id="filters">
									<label class="field">
										<select class="field-input form-control input-dark input-transparent"></select>
										<div class="field-label">node configs</div>
									</label>
									<label class="field">
										<select class="field-input form-control input-dark input-transparent"></select>
										<div class="field-label">node types</div>
									</label>
									<label class="field">
										<select class="field-input form-control input-dark input-transparent"></select>
										<div class="field-label">packages</div>
									</label>
									<label class="field">
										<input type="text" class="field-input form-control input-dark input-transparent" placeholder="model_1+model_2" />
										<div class="field-label">--models</div>
									</label>
									<label class="field">
										<input type="text" class="field-input form-control input-dark input-transparent" placeholder="model_3" />
										<div class="field-label">--exclude</div>
									</label>
								</div>
							</div>
							<div class="launcher-spacer"></div>
							<div class="launcher-actions">
								<a href="#" onclick="$('#filters').toggleClass('visible')" class="launcher-hide-fullscreen btn btn-text btn-lg btn-icon btn-shadow" data-toggle="tooltip" title="Toggle Filters"><svg class="icn icn-md"><use xlink:href="#icn-filter"></use></svg></a>
								<a href="#" onclick="$('.launcher').removeClass('on')" class="btn btn-text btn-lg btn-icon btn-shadow" data-toggle="tooltip" title="Close Graph"><svg class="icn icn-md"><use xlink:href="#icn-close"></use></svg></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="app app-row navigating-blur">
			<div class="app-menu app-column">
				<div class="app-overlay" data-toggle=".app-menu"></div>
				<div class="app-header app-navbar app-shadow app-pad">
					<div class="app-row app-middle">
						<div class="app-header app-icn">
							<a href="#" class="btn btn-text" data-sidenav-show><svg class="icn icn-md"><use xlink:href="#icn-menu"></use></svg></a>
						</div>
						<div class="app-body">
							<img class="app-logo" src="{{site.baseurl}}/ui/img/logos/dbt.svg" alt="dbt" />
						</div>
					</div>
				</div>
				<div class="app-body">
					<div class="app-scroll app-pad app-flush-right">
						{% capture overviewclass %}{% if page.menu == 'overview' %}active{% endif %}{% endcapture %}
						{% capture nodeclass %}{% if page.menu == 'node' %}active{% endif %}{% endcapture %}
						<div class="menu">
							<ul>
								<li>{% include menu.html type="link,main" name="Overview" class=overviewclass link="/overview" %}</li>
							</ul>
						</div>
						<div class="switches">
							<div class="switch "><a href="#" class="active switch-label" onclick="$('#schemas').show();$('#models').hide();$('.switch-label').removeClass('active');$(this).addClass('active')">schemas</a></div>
							<div class="switch"><a href="#" class="switch-label" onclick="$('#models').show();$('#schemas').hide();$('.switch-label').removeClass('active');$(this).addClass('active')">models</a></div>
						</div>
						<div class="menu" id="schemas">
							<ul>
								<li>{% include menu.html type="tree" name="dbt_dbanin" class=nodeclass %}
									<ul>
										<li>{% include menu.html type="doc" name="snowplow_accounts" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_accounts" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_pageviews" class=nodeclass link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_mini" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_groups_with_a_really_long_title" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_orders" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_products" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_messages" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_categories" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_groups" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_groups" link="/table" %}</li>
									</ul>
								</li>
								{% assign dirs = 'dbt_azure,dbt_tangerine,dbt_umber,dbt_olivine' | split: ',' %}
								{% for dir in dirs %}
									<li>{% include menu.html type="tree" name=dir %}
										<ul>
											{% assign docs = 'snowplow_accounts,snowplow_pageviews,snowplow_groups,snowplow_attachments,snowplow_orders,snowplow_products,snowplow_messages,snowplow_categories,snowplow_groups' | split: ',' %}
											{% for doc in docs %}<li>{% include menu.html type="doc" name=doc link="/table" %}</li>{% endfor %}
										</ul>
									</li>
								{% endfor %}
							</ul>
						</div>
						<div class="menu" id="models" style="display:none">
							<ul>
								<li>{% include menu.html type="dir" name="base" %}
									<ul>
										<li>{% include menu.html type="dir" name="optional" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_base_events.sql" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_base_web_page_context.sql" link="/table" %}</li>
									</ul>
								</li>
								<li>{% include menu.html type="dir" name="fivetran" %}</li>
								<li>{% include menu.html type="dir" name="identification" %}
									<ul>
										<li>{% include menu.html type="doc" name="snowplow_id_map.sql" link="/table" %}</li>
									</ul>
								</li>
								<li>{% include menu.html type="dir" name="page_views" %}
									<ul>
										<li>{% include menu.html type="dir" name="optional" %}
											<ul>
												<li>{% include menu.html type="doc" name="snowplow_web_timing_context.sql" link="/table" %}</li>
												<li>{% include menu.html type="doc" name="snowplow_web_ua_parser_context.sql" link="/table" %}</li>
											</ul>
										</li>
										<li>{% include menu.html type="doc" name="schema.yml" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_page_views.sql" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_web_events_internal_fixed.sql" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_web_events_scroll_depth.sql" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_web_events_timed.sql" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_web_events.sql" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_web_events_context.sql" link="/table" %}</li>
									</ul>
								</li>
								<li>{% include menu.html type="dir" name="sessions" %}
									<ul>
										<li>{% include menu.html type="doc" name="schema.yml" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_sessions_tmp.sql" link="/table" %}</li>
										<li>{% include menu.html type="doc" name="snowplow_sessions.sql" link="/table" %}</li>
									</ul>
								</li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			<div class="app-content app-column">
				<div class="app-header app-navbar app-shadow">
					<div class="app-frame app-pad app-row app-middle">
						<div class="app-body">
							<input type="text" class="form-control" placeholder="Search for tables, columns..." data-search />
						</div>
					</div>
				</div>
				<div class="app-body" data-content>
					<div class="app-scroll">
						<div class="app-title">
							<div class="app-frame app-pad app-flush-bottom">
								<h1>
									<span class="break">{{page.object}}</span>
									<small>{{page.type}}</small>
								</h1>
							</div>
						</div>
						{% if page.sections and page.sections.size %}
							<div class="app-links app-sticky">
								<div class="app-frame app-pad-h">
									<ul class="nav nav-tabs">
										{% for section in page.sections %}
											<li><a href="#{{section | downcase | replace: ' ','-' }}">{{section}}</a></li>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}
						<div class="app-details">
							<div class="app-frame app-pad">
								{{content}}
							</div>
						</div>
					</div>
				</div>
				<div class="app-body" data-search-content hidden>
					<div class="app-scroll">
						<div class="app-title">
							<div class="app-frame app-pad">
								<h1>
									<span class="break" data-search-title></span>
									<small><span data-search-count>5</span> search results</small>
								</h1>
							</div>
						</div>
						<div class="app-details">
							<div class="app-frame app-pad">
								<div class="results" data-search-results>
									{% assign results = 'snowplow_accounts,snowplow_account_access,snowplow_useraccounts,snowplow_account_map.sql' | split: ',' %}
									{% for result in results %}
										<a href="#" class="result">
											<div class="result-content">
												<div class="result-icn">
													<svg class="icn"><use xlink:href="#icn-tree"></use></svg>
												</div>
												<div class="result-body">
													<h4 class="a">{{result | replace: 'account','<mark>account</mark>' }} <small>incremental</small></h4>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
												</div>
											</div>
										</a>
									{% endfor %}
									<a href="#" class="result">
										<div class="result-content">
											<div class="result-icn">
												<svg class="icn "><use xlink:href="#icn-doc"></use></svg>
											</div>
											<div class="result-body">
												<h4 class="a">snowplow_id_map.sql <small>incremental</small></h4>
												<p>Lorem ipsum dolor sit amet, consectetur <mark>account</mark> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
