<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		{% include settings/meta.html %}
		{% include settings/scripts.html %}
		{% include settings/styles.html %}
	</head>
	<body>
		{% include content/icons.html %}
		<div class="app app-row">
			<div class="app-content app-column">
				<div class="app-header app-navbar app-shadow">
					<div class="app-frame app-pad app-row app-middle">
						<div class="app-header app-icn app-toggle" data-toggle=".app-menu">
							<svg class="icn icn-md"><use xlink:href="#icn-dbt"></use></svg>
						</div>
						<div class="app-body">
							<input type="text" class="form-control" placeholder="Search for tables, columns..." data-search />
						</div>
						<div class="app-footer app-icn" data-search-close hidden>
							<svg class="icn icn-md"><use xlink:href="#icn-close"></use></svg>
						</div>
					</div>
				</div>
				<div class="app-body" data-content>
					<div class="app-scroll">
						{{content}}
					</div>
				</div>
			</div>
		</div>
		<script>
			window.addEventListener('DOMContentLoaded', function() { (function($) {
				$('[data-submit]').on('submit',function(){ $(this).removeClass('active'); return false; });
				$('[data-edit]').on('click',function(){ $(this).closest('.setting-form').addClass('active').find(':input:first').focus(); return false; });
				$('[data-cancel]').on('click',function(){ $(this).closest('.setting-form').removeClass('active'); return false; });
				$('[data-add]').on('click',function(){
					var template = $($(this).attr('data-add')).html();
					$(this).closest('.setting-form').addClass('active');
					$(this).closest('.setting-row').before(template);
					return false;
				});
			})(jQuery); });
		</script>
	</body>
</html>
