.dbt-cloud-command-palette__search-result-row {
    padding: 10px;
    border-top: 1px solid #e6e8ed;
    background-color: #ffffff;
    color: black;
}

.dbt-cloud-command-palette__search-result-row__path {
    margin-left: 10px;
    font-size: .9em;
    font-style: italic;
    color: #5e666c;
}

.dbt-cloud-command-palette__search-input {
    color: black;
    width: 100%;
    border: none;
    padding: 10px;
    max-height: 50px;
}

.dbt-cloud-command-palette__container {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.dbt-cloud-command-palette__close {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
}
