
.filename {
	@include flex-row;
	.filename-ellip {
		@include flex(0,1,auto);
		min-width: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.filename-normal { @include flex(0,0,auto); }
}