.menu {

	margin: 0 -5px;
	@include font-size-small;
	ul {
		@include clean;
		display: none;
		ul { margin-left: 23px; }
	}
	a {
		@import "sass/variables/colors-v2";
		color: $light-gray;
		display: block;
		padding: 3px 5px;
		border-radius: $border-radius-base;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		//&.menu-tree { color: $light; }
		&.menu-main { @include font-size-base; margin-bottom: .25em; font-weight: bold; color: $dark; }
		//&.active:not(.not-active) { color: inherit; }
		// @include active { 
		// 	background: $silver;
		// 	color: $dark;
		// }
		&:hover, 
		&:focus {
			@import "sass/variables/colors-v2";
			color: $off-black;
			background: $lighter-blue;
		}

		&.menu-node,
		&.menu-link {
			&.active:not(.not-active) {
				background: $link;
				color: white;
			}

			&.highlight:not(.not-active) {
				@import "sass/variables/colors-v2";
				background: $light-blue;
				color: $off-black;
				font-weight: bold;
			}
		}

		&.menu-node {
			position: relative;
		}
		
		&.menu-node.highlight {
			@import "sass/variables/colors-v2";

			.file-system-item-actions-toggle {
				color: $off-black;
			}

			&:before {
				content: "";
				width: 100%;
				height: 100%;
				border-left: 6px solid $dark-blue;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	.icn { margin-right: 8px; }
	> ul,
	.active + ul {
		display: block;
	}
}

.menu-full a {
	overflow: visible;
	&:before {
		content: '';
		position: absolute;
		@include set(top right bottom,0);
		background: inherit;
		left: -100%;
	}
}


.menu-icon-on { a:not(.active) & { display: none; } }
.menu-icon-off { a.active & { display: none; } }


.ide {
	.menu {
		margin: 0;
		line-height: 20px;
		a {
			padding: 2px 12px;
			border-radius: 0;
			&.edited { color: dark($link); }
		}
	}
	&-dark .menu a {
		color: $gray;
		&.edited { color: light($link); }
	}

	&-dark {
		@import "sass/variables/dark-mode-colors-v2";
		a {
			&:hover, 
			&:focus {
				color: white;
      			background: $light-gray;
			}

			&.menu-node {
				position: relative;

				&.highlight {
					&:before {
						content: "";
						width: 100%;
						height: 100%;
						border-left: 6px solid $blue;
						position: absolute;
						left: 0;
						top: 0;
					}

					&:not(.not-active) {
						background: $green;
						color: white;
						font-weight: bold;
					}
				}
			}

			&.menu-link.highlight:not(.not-active) {
				background: $green;
				color: white;
				font-weight: bold;
			}
		}
	}
}