$settings-pad: 10px;

.setting {
	clear: both;
	@include clear;
	//@include flex-wrap;
	margin: 0 $settings-pad*-2;
	
	> * {
		padding: $settings-pad $settings-pad*2;
	}
	&-header {
		float: left;
		width: 25%;
		&-text {
			@include snug;
			#{h()} {
				display: inline;
				a {
					@include font-size-small;
					font-weight: bold;
					margin-left: .75em;
				}
			}
		}
	}
	&-body {
		float: left;
		width: 100%;
		.setting-header + & { width: 75%; }
	}
	
	&-row {
		@include flex-row;
		&:not(:last-child) { border-bottom: 1px solid $line; }
		margin: 0 -4px;
		> * { padding: 4px; }
		&-label {
			@include flex(0,0,percentage(1/4));
			min-width: 120px;
			padding-top: 8px;
			&.text-right { padding-right: 16px; }
		}
		&-response { @include flex(1,1,auto); }
		&-edit { @include flex(0,0,auto); }
		&-actions { @include flex(1,1,auto); }
		& & {
			margin: -4px;
			& + .setting-row { margin-top: 4px; }
		}
	}
	&-form {
		
	}
}

.settings {
	@extend .buffer;
	&-separate {
		.setting {
			&:not(:last-child) {
				&:before {
					content: '';
					display: block;
					position: absolute;
					@include set(left right,$settings-pad*2);
					bottom: 0;
					border-bottom: 1px solid $line;
				}
				padding-bottom: 20px;
				margin-bottom: 20px;
			}
		}
	}
}


[setting-active] { body:not(.editing) .setting-form:not(.editing) & { display: none; } }
[setting-static] { .editing & { display: none; } }
[setting-old] { body.editing & { display: none; } }
[setting-new] { body:not(.editing) & { display: none; } }

.setting-row:not(.setting-row-border) {
	.editing & { border-color: transparent; }
}