.dbt-cloud-table {
    &.ReactVirtualized__Table {
        background-color: white;
        border-radius: 4px;
        border: 1px solid $silver-darkest;

        &.dbt-cloud-table--has-add-row {
            margin-bottom: 0;
            border-radius: 4px 4px 0 0;
        }
    }

    .ReactVirtualized__Table__headerRow {
        display: flex;
        padding: 0 40px !important; // override inline react-virtualized styles
        border-bottom: 1px solid $silver-darkest;
    }

    .ReactVirtualized__Table__headerColumn {
        color: $gray;
        text-transform: uppercase;
        font-size: .75rem;
        letter-spacing: .15em;
        line-height: 50px;

        &.dbt-cloud-table__link-header {
            text-transform: none;
            text-align: right;
            letter-spacing: normal;
            font-size: .85rem;

            .glyph {
                margin: 0 5px;
            }
        }
    }

    .ReactVirtualized__Table__row {
        display: flex;
        padding: 0 40px !important;
        border-bottom: 1px solid $silver-darkest;

        &:last-child {
            border-bottom: none;
        }
    }

    &__row--clickable {
        cursor: pointer;
    }

    .ReactVirtualized__Table__rowColumn {
        line-height: 75px;
        font-size: 1rem;
        text-overflow: ellipsis;
        padding-right: 20px;
    }

    .ReactVirtualized__Table__sortableHeaderIcon {
        path:first-child {
            fill: $gray-darker
        }
        top: 4px;
    }

    .ReactVirtualized__Table__sortableHeaderColumn {
        cursor: pointer;

        &[aria-sort="ascending"], &[aria-sort="descending"] {
            color: $gray-darker;
        }
    }
    
    &__action-column {
        line-height: 75px;
        text-align: right;
        color: $gray-light;
        cursor: pointer;
        transition: color 0.25s;

        &--hover-red:hover {
            color: $red;
        }
    }

    &__empty-state {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    
}

.dbt-cloud-table__add-row {
    height: 50px;
    line-height: 50px;
    background-color: white;
    border: 1px solid $silver-darkest;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    padding: 0 40px;
}