.dbt-cloud-command-palette__search-result-row {
    padding: 10px;
    border-top: 1px solid $gray-light;
    background-color: $silver-light;
    color: $normal;
}

.dbt-cloud-command-palette__search-result-row__path {
    margin-left: 10px;
    font-size: .9em;
    font-style: italic;
    color: $gray-dark;
}

.dbt-cloud-command-palette__search-input {
    color: $normal;
    width: 100%;
    border: none;
    padding: 10px;
    max-height: 50px;
}

.dbt-cloud-command-palette__container {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.dbt-cloud-command-palette__close {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
}

.ide-dark {
    @import "../variables/dark-mode-colors-v2";
    .dbt-cloud-command-palette__search-input,  
    .dbt-cloud-command-palette__search-result-row:not(:hover), 
    .dbt-cloud-command-palette__container,
    .dbt-cloud-command-palette__container .dropdown-menu{
        background: $dark-gray;
    }

    .dbt-cloud-command-palette__search-result-row {
        border-top: 1px solid $dark-gray;

        &:hover {
            background: $light-gray;
            color: white;
        }
    }

    .dbt-cloud-command-palette__search-result-row__file {
        color: $lighter-gray;
    }
}